<configuration>
	
   <!-- Console appender with encoder -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Define encoder to format log output -->
        <encoder>
            <pattern>[%level]: %d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>
   
<!-- Root logger definition with level INFO -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    
</configuration>
