name: Publish to Maven (Java Storage Azure KMS)
on:
  workflow_dispatch:
  push:
    branches:
      - 'release/storage/java/azure-kms/**'

jobs:
  publish:
    uses: ./.github/workflows/reusable.maven.central.publish.yml
    with:
      working-directory: ./sdk/java/storage/keeper_secrets_manager_storage_azure_kms
      project-name: keeper-secrets-manager-storage-azure-kms
      project-title: Keeper Secrets Manager Azure KMS Storage
      java-version: '8'
    secrets: inherit
