name: Publish to Maven (Java Storage Azure KMS)
on:
  workflow_dispatch:
    inputs:
      publish:
        description: 'Publish to Maven Central (uncheck to build only)'
        required: false
        default: true
        type: boolean

jobs:
  publish:
    uses: ./.github/workflows/reusable.maven.central.publish.yml
    with:
      working-directory: ./sdk/java/storage/keeper_secrets_manager_storage_azure_kms
      project-name: keeper-secrets-manager-java-storage-azure-kms
      project-title: Keeper Secrets Manager Azure KMS Storage
      java-version: '8'
      publish: ${{ github.event.inputs.publish == 'true' }}
    secrets: inherit
