name: Test-Java

on:
  pull_request:
    branches: [ master ]

jobs:
  test-java:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sdk/java/core
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - run: ./gradlew build
    - run: ./gradlew test --stacktrace --debug

