name: Test-Java

on:
  pull_request:
    branches: [ master ]

jobs:
  test-java:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        java-version: [ '8', '11', '16', '17', '18' ]
    name: KSM test with Java ${{ matrix.java-version }}
    defaults:
      run:
        working-directory: ./sdk/java/core
    steps:
    - uses: actions/checkout@v4
    - name: Setup Java ${{ matrix.java-version }}
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java-version }}

    - name: Setup, Build and Test
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.14'
        arguments: build test
        build-root-directory: ./sdk/java/core


